@model Automarket.Domain.ViewModels.Car.CarViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using Automarket.Domain.Enum;
@using Automarket.Domain.Extensions;

<div class="containerCr">
    <form method="POST" asp-controller="Car" asp-action="Save" enctype="multipart/form-data" id="formSaveCar">
        <h2>Добавить новый автомобиль</h2>
        <div asp-validation-summary="ModelOnly"></div>
        <input asp-for="Id" hidden />
        <div class="formItems">
            <div class="Inlines">
                <div class="Item">
                    <label>Название</label>
                    <input type="text" asp-for="Name" />
                    <span asp-validation-for="Name"></span>
                    
                </div>
                <div class="Item">
                    <label>Модель</label>
                    <input asp-for="Model" type="text" />
                    <span asp-validation-for="Model"></span>
                </div>
                <div class="Item">
                    <label>Скорость</label>
                    <input asp-for="Speed" type="text" />
                    <span asp-validation-for="Speed"></span>
                </div>
                <div class="Item">
                    <label>Цена</label>
                    <input asp-for="Price" type="text" />
                    <span asp-validation-for="Price"></span>
                </div>
            </div>

            <div class="Blocked">
                <div class="ItemBlock">
                    <label>Описание</label>
                    <textarea asp-for ="Description"></textarea>
                    <span asp-validation-for="Description"></span>
                </div>
                <div class="ItemBlock">
                    <label>Тип машины</label>
                    <select asp-for="TypeCar">
                        <option value="@TypeCar.PassengerCar">@EnumExtension.GetDisplayName(TypeCar.PassengerCar)</option>
                        <option value="@TypeCar.Sedan">@EnumExtension.GetDisplayName(TypeCar.Sedan)</option>
                        <option value="@TypeCar.HatchBack">@EnumExtension.GetDisplayName(TypeCar.HatchBack)</option>
                        <option value="@TypeCar.Crossover">@EnumExtension.GetDisplayName(TypeCar.Crossover)</option>
                        <option value="@TypeCar.Minivan">@EnumExtension.GetDisplayName(TypeCar.Minivan)</option>
                        <option value="@TypeCar.Sportscar">@EnumExtension.GetDisplayName(TypeCar.Sportscar)</option>
                        <option value="@TypeCar.Suv">@EnumExtension.GetDisplayName(TypeCar.Suv)</option>
                    </select>
                    <span asp-validation-for="TypeCar"></span>
                </div>
                <div class="ItemBlock">
                    <label>Аватар</label>
                    <input asp-for="Avatar" class="fileW" type="file" />
                    <span asp-validation-for="Avatar"></span>
                </div>
                <div class="ItemBlock BlockButt">
                    <div>
                        <button class="cancelbth">Отмена</button>
                    </div>
                    <div>
                        <input type="submit" class="createbtn" />
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>

@section scripts{

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
